@use "./variables" as *;

.pages__container {
    height: 80vh;
        width: 80vw;
        background-color: $quiz-background;
        border-radius: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &--button{
        width: 20vw;
        height: 7vh;
        font-size: 16px;
        border: 2px solid $background-color;
        border-radius: 10px;
        background-color: white;
        color: $background-color;
        padding: 10px;
        }
}

.questions{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30%;


    &--category{
        text-align: center;
        justify-content: flex-start;
        font-size: 40px;
    }

    &--question{
        text-align: center;
        font-size: 30px;
    }

}


.answers__container {
    display: grid;
    grid-template-areas: 
    "option1 option2"
    "option3 option4";
    gap: 20px;
    justify-content: space-around;
    padding: 10px;
    height:30vh;

    &--options{
        display: inline-block;
        height: 10vh;
        width: 30vw;
        border: 1px solid white;
        padding: 5px;
        border-radius: 15px;
        background-color: $answer-color;
        font-size: 20px;
    }

    &--option1{
        grid-area: option1;
        padding: 10px;
    }

    &--option2{
        grid-area: option2;
    }

    &--option3{
        grid-area: option3;
    }

    &--option4{
        grid-area: option4;
    }

}

.quiz__timer {
    font-size: 24px;
    text-align: center;
    padding: 30px 0;
}