@use "./variables"as *;

.quizPage__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 80vw;
    border-radius: 10px;
    background-color: $quiz-background;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    &--button {
        display: inline-block;
        width: 30vw;
        height: 7vh;
        padding: 5px;
        border: 2px solid $background-color;
        border-radius: 10px;
        background-color: white;
        color: $background-color;
        font-family: $font-body;
        font-size: 14px;
    }
}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25%;


    &--category {
        text-align: center;
        font-size: 22px;
    }

    &--question {
        text-align: center;
        font-size: 18px;
    }
}


.answers__container {
    display: grid;
    justify-content: space-around;
    grid-template-areas:
        "option1 option2"
        "option3 option4";
    gap: 20px;
    padding: 20px;
    height: 33vh;

    &--options {
        display: inline-block;
        height: 12vh;
        width: 32vw;
        padding: 5px;
        border: 1px solid white;
        border-radius: 15px;
        box-shadow: 7px 5px 5px black;
        background-color: $answer-color;
        font-size: 14px;
        font-family: $font-body;
   }

    &--option1 {
        grid-area: option1;
    }

    &--option2 {
        grid-area: option2;
    }

    &--option3 {
        grid-area: option3;
    }

    &--option4 {
        grid-area: option4;
    }

}

.quiz__timer {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    padding: 20px;
    color: black;
}

@media screen and (min-width: 768px) {
    .quizPage__container{

        &--button {
            font-size: 20px;
        }

    }
    .questions{

        &--category{
            font-size: 28px;
        }

        &--question{
            font-size: 22px;
        }
    }



    .answers__container {

        &--options {
            height: 12vh;
            width: 35vw;
            font-size: 20px;
        }
    }
}