@use "./variables"as *;

.header {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    font-size: 8px;

    &__start {
        width: 20vw;
        border: 2px solid $background-color;
        border-radius: 10px;
        background-color: white;
        color: $background-color;
        padding: 10px;
    }

    &__player{
        width: 30vw;
        font-size: 12px;
        align-self: center;
    }
}

.quiz {
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        height: 82vh;
        width: 82vw;
        background-color: $quiz-background;
        border-radius: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        &--heading {
            text-align: center;
            width: 15em;
            font-size: 18px;
            text-wrap: wrap;
        }

        &--image {
            width: 12rem;
            padding: 10px;
        }

        &--text {
            text-align: center;
            padding: 10px;
            font-size: 16px;
        }

        &--button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20vw;
            height: 10vh;
            border: 2px solid $background-color;
            border-radius: 10px;
            background-color: white;
            color: $background-color;
            font-size: 16px;
            display: flex;
            
        }
    }
}

.pages__container{
    display: none;
}

.category__container{
    display: none;
}