
$font-body: 'Fredoka', sans-serif;

$background-color: #2274A5;
$answer-color: #FFF275;
$font-color: #000000;
$quiz-background: #F1F1EE;
$correct-color: #3BB273;
$incorrect-color: #A31621;
$grammar-color: #1E90FF;
$maths-color: #FF4500;
