.header {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  font-size: 8px;
}
.header__start {
  width: 20vw;
  border: 2px solid #2274A5;
  border-radius: 10px;
  background-color: white;
  color: #2274A5;
  padding: 10px;
}
.header__player {
  width: 30vw;
  font-size: 12px;
  align-self: center;
}

.quiz {
  display: flex;
  align-items: center;
  justify-content: center;
}
.quiz__container {
  height: 82vh;
  width: 82vw;
  background-color: #f1f1ee;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.quiz__container--heading {
  text-align: center;
  width: 15em;
  font-size: 18px;
  text-wrap: wrap;
}
.quiz__container--image {
  width: 12rem;
  padding: 10px;
}
.quiz__container--text {
  text-align: center;
  padding: 10px;
  font-size: 16px;
}
.quiz__container--button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 10vh;
  border: 2px solid #2274A5;
  border-radius: 10px;
  background-color: white;
  color: #2274A5;
  font-size: 16px;
  display: flex;
}

.pages__container {
  display: none;
}

.category__container {
  display: none;
}

.pages__container {
  height: 80vh;
  width: 80vw;
  background-color: #f1f1ee;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pages__container--button {
  display: inline-block;
  width: 30vw;
  height: 7vh;
  font-size: 12px;
  border: 2px solid #2274A5;
  border-radius: 10px;
  background-color: white;
  color: #2274A5;
  padding: 10px;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 25%;
}
.questions--category {
  text-align: center;
  justify-content: flex-start;
  font-size: 24px;
}
.questions--question {
  text-align: center;
  font-size: 18px;
}

.answers__container {
  display: grid;
  grid-template-areas: "option1 option2" "option3 option4";
  gap: 20px;
  justify-content: space-around;
  padding: 5px;
  height: 33vh;
}
.answers__container--options {
  display: inline-block;
  height: 10vh;
  width: 32vw;
  border: 1px solid white;
  padding: 5px;
  border-radius: 15px;
  background-color: #FFF275;
  font-size: 14px;
}
.answers__container--option1 {
  grid-area: option1;
  padding: 10px;
}
.answers__container--option2 {
  grid-area: option2;
}
.answers__container--option3 {
  grid-area: option3;
}
.answers__container--option4 {
  grid-area: option4;
}

.quiz__timer {
  font-size: 24px;
  text-align: center;
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  .answers__container--options {
    height: 12vh;
    width: 35vw;
  }
}
.category__container {
  height: 80vh;
  width: 80vw;
  background-color: #f1f1ee;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.category__container--choice {
  display: inline-block;
  height: 15vh;
  width: 50vw;
  padding: 5px;
  border-radius: 15px;
  font-size: 35px;
}
.category__container--button {
  height: 10vh;
  width: 30vw;
  padding: 5px;
  border-radius: 15px;
  font-size: 24px;
}

#grammar {
  background-color: #1E90FF;
}

#maths {
  background-color: #FFD700;
}

.begin {
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  background-color: #2274A5;
  font-family: "Rubik", sans-serif;
}/*# sourceMappingURL=main.css.map */